<div class="footer">
    <div class="social_link">
        <a href="https://www.facebook.com/praduman2k19" target="_blank" class="facebook"><i class='fa fa-facebook'></i></a>
        <a href="https://www.instagram.com/praduman2k19/" target="_blank" class="instagram"><i class='fa fa-instagram'></i></a>
        <a href="https://github.com/Praduman2k19" target="_blank" class="github"><i class='fa fa-github'></i></a>
        <a href="https://twitter.com/praduman2k19" target="_blank" target="_blank" class="twiter"><i class='fa fa-twitter'></i></a>
        <a href="https://www.linkedin.com/in/praduman-kumar-8161011b0/" target="_blank" class="linkdin"><i class='fa fa-linkedin'></i></a>
    </div>
    <div class="headerlink">
        <a [routerLink]="['/']" > Home</a >
        <a [routerLink]="['/blogs']"> Blogs</a >
        <a [routerLink]="['/myblogs']"> My Blogs</a >
        <a [routerLink]="['/profile/'+id]"> My Profile</a >
      </div>
      <!-- <div class="my_service">
        <a href="">Software Developement</a >
        <a href="">Web Developement</a >
        <a href="">App Developement</a >
        <a href="">Graphics Design</a >
        <a href="">Ui/Ux Design</a >
        <a href="">Web Design</a >
    </div> -->
    <div class="copyright">Copyright © Praduman2k19 || All Rights Reserved by Blogosphere .</div>

</div>