
<div class="home-top">
    <div class="container-fluid">
        <div class="text-center pt-5"><h1><b>Blogosphere</b></h1></div>
        <div class="row" >
            <div class="left offset-sm-1 col-sm-4 text-center  ">
                 <h1 class="">Don't just think!<br> Blog It!</h1>
            </div>
            <div class="col-sm-6  background-left">
            </div>
        </div>
    </div>
</div>
<div class="bg-light">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-5 mt-5">
                <div class=" mx-2 pull-right">
                    <img class="mt-5" src="../../assets/image/What-Is-Scribe-Image.png" alt="" height="300px" width="300px">
                </div>
            </div>
            <div class="col-sm-7 mt-5">
                <h2 class="mx-2 mt-5">What is Blogosphere?</h2>
                <h6 class="mx-2 my-1">The blogosphere is made up of all blogs and their interconnections. The term implies that
                     blogs exist together as a connected community (or as a collection of connected communities) or as a social
                      networking service in which everyday authors can publish their opinions. Since the term has been coined, 
                      it has been referenced in a number of media and is also used to refer to the internet.<br><br>
                    Let's get started!!!
                </h6>
            </div>
        </div>
    </div>

<hr>

    <div class="container">
        <div class="text-center py-5 my-5">
            <h4 class="mb-5">Contact Us</h4>
            <div class="row">
                <div class=" col-sm-6 vertical-divider">
                    <i class="fa fa-user">Praduman kumar ,Student</i><br>
                    <i class="fa fa-phone mt-3"></i> 8409467309 <br>
                    <i class="fa fa-envelope mt-3"></i> praduman2k19@gmail.com<br>
                </div>
                <div class="col-sm-6  ">
                    <i class="fa fa-map-marker mt-3 "></i> Gaya college of engineering<br>
                    Sri Krishna Nagar,khizersarai,<br>
                    Gaya, India-823003 <br>
                </div>
            </div>
        </div>
    </div>
</div>


<footer>
    <app-footer></app-footer>
</footer>
